<nav class="training-menu row justify-content-center">
  <li class="text-center col col-lg-12">
    <div>
      <a href="/home">
        <img src="/public/img/v2/capacitaciones.png"
          alt="<%= translation.MENU.MENU_1 %>">
        <br>
        <%= translation.MENU.MENU_1 %>
      </a>
    </div>
  </li>
  <li class="text-center col col-lg-12">
    <div>
      <a href="/grades">
        <img src="/public/img/v2/certificaciones.png"
          alt="<%= translation.MENU.MENU_2 %>">
        <br>
        <%= translation.MENU.MENU_2 %>
      </a>
    </div>
  </li>
  <!-- <li class="text-center col col-lg-12">
    <div>
      <a href="/study-materials.html">
        <img src="/public/img/v2/recursos.png" alt="Recursos de estudio">
        <br>
        Recursos de estudio
      </a>
    </div>
  </li> -->
  <li class="text-center col col-lg-12">
    <div>
      <a href="/v2/faq">
        <img src="/public/img/v2/preguntas.png"
          alt="<%= translation.MENU.MENU_3 %>">
        <br>
        <%= translation.MENU.MENU_3 %>
      </a>
    </div>
  </li>
</nav>