<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= translation.SITE_TITLE %>">
  <meta name="keywords" content="ISSIVS, ISS, SecurOS, Training">
  <link rel="icon" type="image/x-icon" href="/public/img/favicon.png">
  <title><%= translation.SITE_TITLE %></title>

  <!-- Bootstrap -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!--/ Bootstrap -->

  <script type="text/javascript" charset="utf8"
    src="/public/js/custom.home.js"></script>
  <script type="text/javascript" charset="utf8"
    src="/public/js/custom.date.js"></script>
  <link rel="stylesheet" href="/public/css/v2/home.css">

  <style>
    h1,
    h2 {
      font-family: "Montserrat-Bold";
    }

    .btn {
      font-family: "Montserrat-Bold" !important;
    }

    .btn-primary {
      background-color: #133469;
    }

    .header-title-calendar {
      background-color: #003F76;
      color: #eee;
      padding: 0.5em;
    }

    .header-title-calendar>h2 {
      font-family: "Montserrat-Medium" !important;
    }

    .header-username-placeholder {
      background-color: #E3E7F6;
      color: #333;
    }

    .header-username-placeholder>h2 {
      font-family: "Montserrat-Medium" !important;
    }

    /* <calendar> */
    .fc-h-event {
      border: 0px;
    }

    .fc-header-toolbar {
      background-color: #003F76;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      color: #eee;
      padding: 0.5em;
    }

    .fc-toolbar-title {
      font-family: "Montserrat-Medium" !important;
    }

    .fc-button {
      background-color: #eee !important;
      color: #333 !important;
    }

    .top-half-event {
      background-color: #4A9CD2;
      display: block;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .bottom-half-event {
      background-color: #133469;
      display: block;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .top-half-event-disabled {
      background-color: #C4C4C4;
      display: block;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .bottom-half-event-disabled {
      background-color: #6B6B6B;
      display: block;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    #calendar {
      padding: 2em;
    }

    /* </calendar> */

    .training-menu {
      list-style: none;
    }

    .training-menu img {
      height: 70px;
    }

    .training-menu>li {
      /* width: 150px; */
      padding: 1em;
    }
  </style>
</head>

<body onload="setup()">
  <%- include('./header'); %>

  <div class="container-fluid">
    <div class="row">
      <% if (locals.role) { %>
      <div class="col-lg-3">
        <br>
        <%- include('./asidenav'); %>
      </div>
      <% } else { %>
      <div class="col-lg-3">
        <form>
          <section>
            <br>
            <h2><%= translation.LOGINV2.TITLE %></h2>
          </section>
          <div>
            <input class="form-control form-control-lg" type="email"
              name="email" id="email"
              placeholder="<%= translation.LOGINV2.FORM.EMAIL %>"
              required onkeydown="clickPress(event)" />
          </div>
          <div>
            <input class="form-control form-control-lg"
              type="password" name="password" id="password"
              placeholder="<%= translation.LOGINV2.FORM.PASSWORD %>"
              required onkeydown="clickPress(event)" />
          </div>
          <section class="container">
            <div class="row justify-content-end">
              <p class="col-12 text-right">
                <a href="/signup">
                  <%= translation.LOGINV2.FORM.NEW_ACCOUNT %></a>
              </p>
              <p class="col-12 text-right">
                <a href="/recovery">
                  <%= translation.LOGINV2.FORM.FORGOT_PASSWORD %></a>
              </p>
            </div>
          </section>
          <br>
          <div id="error"
            class="alert alert-danger alert-dismissible d-none">
            <div id="error-message"></div>
          </div>
          <button type="button" onclick="signIn()"
            class="btn btn-primary btn-block">
            <%= translation.LOGINV2.FORM.LOGIN %>
          </button>
        </form>
        <br>
        <br>
      </div>
      <% } %>
      <div class="col-lg-9">
        <%- include(page); %>
      </div>
    </div>
  </div>
</body>

<script>
  function clickPress(e) {
    // console.log(e);
    if (e.key === "Enter") {
      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;
      if (email && password) {
        signIn();
      }
    }
  }

  function signIn() {
    const email = document.getElementById("email").value;
    const password = document.getElementById("password").value;

    fetch("/api/v1/auth/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json;charset=utf-8"
      },
      body: JSON.stringify({
        email,
        password
      })
    })
      .then((res) => res.json())
      .then((res) => {
        if (res.statusCode) {
          // console.log(res);
          displayErrors([res.message]);
        } else {
          window.location.href = "/home";
        }
      })
      .catch((err) => {
        console.error(err);
      });
  }
</script>