<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
  <!-- Data table -->
  <link rel="stylesheet" type="text/css"
    href="/public/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8"
    src="/public/js/jquery.dataTables.js">
    </script>
  <!--/ Data table -->
  <script type="text/javascript" charset="utf8"
    src="/public/js/custom.date.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/home.css">
</head>

<body onload="getBasicInfo()">
  <%- include("../../partials/topnav.ejs", { "location": "attendants" }) %>
  <%- include("./header.trainer.ejs") %>
  <div class="container">
    <section>
      <div class="container py-4">
        <div
          class="row d-flex align-items-center justify-content-center">
          <div class="w-100">
            <h2><%= translation.ATTENDANT_LIST.USER_LIST %></h2>
            <div>
              <table id="attendants-list">
                <thead>
                  <th><%= translation.HOME.ASSISTANT %>
                  </th>
                  <th><%= translation.HOME.MAIL %></th>
                  <th><%= translation.CERTIFICATES.THEAD_5 %>
                  </th>
                  <th><%= translation.AVAILABLE_APPOINTMENT.HRU %></th>
                  <th><%= translation.PROFILE.COUNTRY_TITLE %>
                  </th>
                </thead>
              </table>
            </div>
          </div>
        </div>
        <div>
          <%- include("../../partials/footer.ejs") %>
        </div>
      </div>
    </section>
  </div>
</body>
<script>
  const appointmentContainer = document.getElementById('appointment');

  function getBasicInfo() {
    const myHeaders = new Headers();
    myHeaders.append('Content-Type', 'application/json');

    fetch('/api/v1/attendants', {
      headers: myHeaders,
      credentials: "same-origin"
    })
      .then(res => res.json())
      // .then(res => console.log(res))
      .then(res => parseAttendants(res))
      .catch(err => {
        console.error(err);
      });
  }

  function parseAttendants(attendants) {
    // console.log(attendants);

    let attendantsTable = $('#attendants-list').DataTable({
      "ordering": false,
      "pageLength": 20,
      "sDom": 'lrtip',
      "dom": '<"top"if>rt<"bottom"p><"clear">'
    });

    attendants.forEach(attendant => {
      const {
        id,
        firstName,
        lastName,
        businessName,
        hru,
        user: {
          email,
          country
        }
      } = attendant;
      const fullName = `${firstName} ${lastName}`;

      attendantsTable
        .row
        .add([
          `<a href="/attendant/${id}">${fullName}</a>`,
          email,
          `${businessName}`,
          hru,
          country ? country.name : '',
        ])
        .draw()
        .node();
    });
  }
</script>

</html>