<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
  <!-- Data table -->
  <link rel="stylesheet" type="text/css"
    href="/public/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8"
    src="/public/js/jquery.dataTables.js">
    </script>
  <!--/ Data table -->
  <script type="text/javascript" charset="utf8"
    src="/public/js/custom.date.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/home.css">
</head>

<body onload="getBasicInfo()">
  <%- include("../../partials/topnav.ejs", { "location": "catalogs" }) %>
  <%- include("./header.admin.ejs") %>
  <div class="container">
    <section>
      <div class="container py-4">
        <div
          class="row d-flex align-items-center justify-content-center">
          <div class="w-100">
            <h2><%= translation.ADMIN_COUNTRY_LIST.COUNTRIES %></h2>
            <div class="col-md-12 text-right">
              <button class="btn btn-primary"
                onclick="addNewCountry()">
                <%= translation.ADMIN_COUNTRY_LIST.ADD_COUNTRY %>
              </button>
            </div>
            <br>
            <div>
              <table id="countries-list">
                <thead>
                  <th><%= translation.ADMIN_COUNTRY_LIST.NAME %></th>
                  <th><%= translation.ADMIN_COUNTRY_LIST.ACTION %>
                  </th>
                </thead>
              </table>
            </div>
            <div id="appointment"></div>
          </div>
        </div>
        <div>
          <%- include("../../partials/footer.ejs") %>
        </div>
      </div>
    </section>
  </div>
</body>
<script>
  const appointmentContainer = document.getElementById('appointment');

  function getBasicInfo() {
    const myHeaders = new Headers();
    myHeaders.append('Content-Type', 'application/json');

    fetch('/api/v1/countries', {
      headers: myHeaders,
      credentials: "same-origin"
    })
      .then(res => res.json())
      .then(res => parseCountries(res))
      .catch(err => {
        console.error(err);
      });
  }

  function parseCountries(countries) {
    let countriesTable = $('#countries-list').DataTable({
      "ordering": false,
      "sDom": 'lrtip',
      "dom": '<"top"if>rt<"bottom"p><"clear">'
    });

    countries.forEach(country => {
      const {
        id, name
      } = country;

      countriesTable
        .row
        .add([
          `<a href="/countries/${id}">${name}</a>`,
          `<div>
            <button class="btn btn-secondary" onclick="setCountryName(${id}, '${name}')">
              <%= translation.ADMIN_COUNTRY_LIST.UPDATE %>
            </button>
            <!-- <button class="btn btn-dark" onclick="deleteCountry(${id}, '${name}')">
              <%= translation.ADMIN_COUNTRY_LIST.DELETE %> -->
            </button>
          </div>`,
        ])
        .draw()
        .node();
    });
  }

  function addNewCountry() {
    let name = prompt(`<%= translation.ADMIN_COUNTRY_LIST.ADD_COUNTRY_1 %>`);
    if (!name) {
      return;
    }

    const myHeaders = new Headers();
    myHeaders.append('Content-Type', 'application/json');

    fetch(`/api/v1/countries`, {
      headers: myHeaders,
      credentials: "same-origin",
      method: 'POST',
      body: JSON.stringify({
        name
      })
    })
      .then(res => {
        if (res.status === 201) {
          alert('<%= translation.ADMIN_COUNTRY_LIST.ADDED_COUNTRY %>');
        } else {
          alert('<%= translation.ADMIN_COUNTRY_LIST.LABEL_1 %>');
        }
        location.reload(true);
      })
      .catch(err => {
        console.error(err);
      });
  }

  function setCountryName(countryId, countryName) {
    let name = prompt(`<%= translation.ADMIN_COUNTRY_LIST.LABEL_2 %> ${countryName}`);
    if (!name) {
      return;
    }

    const myHeaders = new Headers();
    myHeaders.append('Content-Type', 'application/json');

    fetch(`/api/v1/countries/${countryId}`, {
      headers: myHeaders,
      credentials: "same-origin",
      method: 'PATCH',
      body: JSON.stringify({
        name
      })
    })
      .then(res => {
        if (res.status === 200) {
          alert('<%= translation.ADMIN_COUNTRY_LIST.LABEL_3 %>');
        } else {
          alert('<%= translation.ADMIN_COUNTRY_LIST.LABEL_4 %>');
        }
        location.reload(true);
      })
      .catch(err => {
        console.error(err);
      });
  }
</script>

</html>