<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link
    href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
    rel="stylesheet">
  <script
    src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

  <script type="text/javascript" charset="utf8"
    src="/public/js/custom.date.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/home.css">
</head>

<body onload="getBasicInfo()">
  <%- include("../../partials/topnav.ejs", { "location": "services" }) %>
  <%- include("./header.admin.ejs") %>
  <div class="container">
    <section>
      <div class="container py-4">
        <div
          class="row d-flex align-items-center justify-content-center">
          <div class="w-100">
            <div>
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">
                      <%= translation.ADMIN_SERVICE_CATEGORY_EDIT.NAME %>
                    </label>
                    <input type="text" class="form-control" id="name"
                      name="name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="level">
                      <%= translation.ADMIN_SERVICE_CATEGORY_EDIT.LEVEL %>
                    </label>
                    <input type="text" class="form-control" id="level"
                      name="level">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div id="infoTemplate">
                    </div>
                  </div>
                </div>
                <div id="error"
                  class="alert alert-danger alert-dismissible d-none">
                  <div id="error-message"></div>
                </div>
                <div class="form-group col-md-12 text-right">
                  <button type="button" class="btn btn-primary"
                    onclick="updateServiceCategory()">
                    <%= translation.ADMIN_SERVICE_CATEGORY_EDIT.UPDATE %>
                  </button>
                  <div id="error"
                    class="alert alert-danger alert-dismissible d-none">
                    <div id="error-message"></div>
                  </div>
                </div>
              </form>
            </div>
            <div id="appointment"></div>
          </div>
        </div>
        <div>
          <%- include("../../partials/footer.ejs") %>
        </div>
      </div>
    </section>
  </div>
</body>
<script>
  const appointmentContainer = document.getElementById('appointment');

  function getBasicInfo() {
    const myHeaders = new Headers();
    myHeaders.append('Content-Type', 'application/json');

    fetch('/api/v1/service-categories/<%= serviceCategoryId %>', {
      headers: myHeaders,
      credentials: "same-origin"
    })
      .then(res => res.json())
      .then(res => parseServiceCategory(res))
      .catch(err => {
        console.error(err);
      });
  }

  function displayErrors(errors) {
    const error = document.getElementById('error');
    const errorMessage = document.getElementById('error-message');

    if (errors.length === 0) {
      error.classList.add('d-none');
      errorMessage.innerText = '';
      return;
    }

    error.classList.remove('d-none');
    errorMessage.innerText = errors.join('\n');
  }

  function validateFormFields() {
    const name = document.getElementById('name').value;
    const level = document.getElementById('level').value;
    const infoTemplate = $('#infoTemplate').summernote('code');

    const errors = [];

    if (!name) {
      errors.push("<%= translation.ADMIN_SERVICE_CATEGORY_EDIT.LABEL_1 %>");
    }
    if (!level) {
      errors.push("<%= translation.ADMIN_SERVICE_CATEGORY_EDIT.LABEL_2 %>");
    }
    if (!infoTemplate) {
      errors.push("<%= translation.ADMIN_SERVICE_CATEGORY_EDIT.LABEL_3 %>");
    }

    displayErrors(errors);
    return errors.length == 0; // There are no errors
  }

  function updateServiceCategory(e) {
    if (e) {
      e.preventDefault();
    }

    if (!validateFormFields()) {
      return;
    }

    const name = document.getElementById('name').value;
    const level = document.getElementById('level').value;
    const infoTemplate = $('#infoTemplate').summernote('code');

    const myHeaders = new Headers();
    myHeaders.append('Content-Type', 'application/json');

    fetch('/api/v1/service-categories/<%= serviceCategoryId %>', {
      headers: myHeaders,
      credentials: "same-origin",
      method: 'PATCH',
      body: JSON.stringify({
        name,
        level,
        infoTemplate
      })
    })
      .then(res => {
        if (res.status === 200) {
          alert('<%= translation.ADMIN_SERVICE_CATEGORY_EDIT.LABEL_4 %>');
        } else {
          alert('<%= translation.ADMIN_SERVICE_CATEGORY_EDIT.LABEL_5 %>');
        }
        window.location.href = "/service-categories";
      })
      .catch(err => {
        console.error(err);
      });
  }

  function parseServiceCategory(serviceCategory) {
    const serviceCategorySelect = document.getElementById('infoTemplate');

    serviceCategorySelect.innerHTML = serviceCategory.infoTemplate;
    $(document).ready(function () {
      $('#infoTemplate').summernote(); //.summernote('code')
    });

    const name = document.getElementById('name');
    name.value = serviceCategory.name;

    const level = document.getElementById('level');
    level.value = serviceCategory.level;
  }

  function setLicenseKeyUrl(attendantId, fullAttendantName) {
    let licenseKey = prompt(`<%= translation.ADMIN_SERVICE_CATEGORY_EDIT.LABEL_6 %> ${fullAttendantName}`);
    if (!licenseKey) {
      return;
    }

    const myHeaders = new Headers();
    myHeaders.append('Content-Type', 'application/json');

    fetch(`/api/v1/attendants/${attendantId}`, {
      headers: myHeaders,
      credentials: "same-origin",
      method: 'PATCH',
      body: JSON.stringify({
        licenseKey
      })
    })
      .then(res => {
        if (res.status === 200) {
          alert('<%= translation.ADMIN_SERVICE_CATEGORY_EDIT.LABEL_7 %>');
        } else {
          alert('<%= translation.ADMIN_SERVICE_CATEGORY_EDIT.LABEL_8 %>');
        }
        location.reload(true);
      })
      .catch(err => {
        console.error(err);
      });
  }

  function cancelAvailableAppointment(availableAppointmentId, serviceCategoryName, intervalDate) {
    const myHeaders = new Headers();
    myHeaders.append('Content-Type', 'application/json');
    if (!confirm(
      `<%= translation.ADMIN_SERVICE_CATEGORY_EDIT.LABEL_9 %> ${serviceCategoryName} <%= translation.ADMIN_SERVICE_CATEGORY_EDIT.LABEL_10 %> ${intervalDate}?`
    )) {
      return;
    }

    fetch(`/api/v1/available-appointments/${availableAppointmentId}`, {
      headers: myHeaders,
      credentials: "same-origin",
      method: 'delete'
    })
      .then(res => res.json())
      .then(res => {
        // console.log(res);
        if (res.statusCode) {
          if (res.statusCode !== 200) {
            alert(res.message);
          }
        }
        window.location = '/home';
      })
      .catch(err => {
        console.error(err);
      });
  }

  function cancelAppointment(hash, serviceCategoryName, intervalDate) {
    const myHeaders = new Headers();
    myHeaders.append('Content-Type', 'application/json');
    if (!confirm(
      `<%= translation.ADMIN_SERVICE_CATEGORY_EDIT.LABEL_9 %> ${serviceCategoryName} <%= translation.ADMIN_SERVICE_CATEGORY_EDIT.LABEL_10 %> ${intervalDate}?`
    )) {
      return;
    }

    fetch(`/api/v1/appointments/${hash}`, {
      headers: myHeaders,
      credentials: "same-origin",
      method: 'delete'
    })
      .then(res => res.json())
      .then(res => {
        // console.log(res);
        if (res.statusCode) {
          if (res.statusCode !== 200) {
            alert(res.message);
          }
        }
        window.location = '/home';
      })
      .catch(err => {
        console.error(err);
      });
  }
</script>

</html>