<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
  <!-- Data table -->
  <link rel="stylesheet" type="text/css" href="/public/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="/public/js/jquery.dataTables.js">
  </script>
  <!--/ Data table -->
  <script type="text/javascript" charset="utf8" src="/public/js/custom.date.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/home.css">
</head>

<body onload="getBasicInfo()">
  <%- include("../../partials/topnav.ejs", { "location": "catalogs" }) %>
  <%- include("./header.admin.ejs") %>
  <div class="container">
    <section>
      <div class="container py-4">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="w-100">
            <h2><%= translation.ADMIN_SYSTEM_USER_DATA_LIST.SYSTEM_USERS %></h2>
            <div class="col-md-12 text-right">
              <a href="/system-users/add" class="btn btn-primary">
                <%= translation.ADMIN_SYSTEM_USER_DATA_LIST.SCHEDULE_USER %>
              </a>
            </div>
            <br>
            <div>
              <table id="appointments-list">
                <thead>
                  <th><%= translation.ADMIN_SYSTEM_USER_DATA_LIST.NAME %></th>
                  <th><%= translation.ADMIN_SYSTEM_USER_DATA_LIST.EMAIL %></th>
                  <th><%= translation.ADMIN_SYSTEM_USER_DATA_LIST.ROLE %></th>
                </thead>
              </table>
            </div>
            <div id="appointment"></div>
          </div>
        </div>
        <div>
          <%- include("../../partials/footer.ejs") %>
        </div>
      </div>
    </section>
  </div>
</body>
<script>
  const appointmentContainer = document.getElementById('appointment');

  function getBasicInfo() {
    const myHeaders = new Headers();
    myHeaders.append('Content-Type', 'application/json');

    fetch('/api/v1/system-user-data', {
      headers: myHeaders,
      credentials: "same-origin"
    })
      .then(res => res.json())
      .then(res => parseSystemUserData(res))
      .catch(err => {
        console.error(err);
      });
  }

  function parseSystemUserData(systemUserData) {
    let serviceCategoryTable = $('#appointments-list').DataTable({
      "ordering": false,
      "sDom": 'lrtip',
      "dom": '<"top"if>rt<"bottom"p><"clear">'
    });

    systemUserData.forEach(systemUserData => {
      const {
        id, firstName, lastName,
        user: {
          role,
          email
        }
      } = systemUserData;

      const { user } = systemUserData;

      serviceCategoryTable
        .row
        .add([
          `${firstName} ${lastName}`,
          email,
          // role,
          `<img id="roleEdit-${user.id}" style="cursor:pointer;" 
            onclick="populateRoles(${user.id})" 
            src="/public/img/edit.png" 
            alt="<%= translation.ADMIN_SYSTEM_USER_DATA_LIST.LABEL_1 %>" width="15px"/> 
            ${role} 
            <div id="userId-${user.id}"></div>`,
        ])
        .draw()
        .node();
    });
  }

  function updateUserRole(userId, role) {
    const myHeaders = new Headers();
    myHeaders.append('Content-Type', 'application/json');

    fetch(`/api/v1/users/${userId}`, {
      headers: myHeaders,
      credentials: "same-origin",
      method: 'PATCH',
      body: JSON.stringify({
        role
      })
    })
      .then(res => {
        if (res.status === 200) {
          alert('<%= translation.ADMIN_SYSTEM_USER_DATA_LIST.LABEL_2 %>');
        } else {
          alert('<%= translation.ADMIN_SYSTEM_USER_DATA_LIST.LABEL_3 %>');
        }
        location.reload(true);
      })
      .catch(err => {
        console.error(err);
      });
  }

  function populateRoles(userId) {
    const roleEdit = document.getElementById(`roleEdit-${userId}`);
    roleEdit.classList.add('d-none');

    const myHeaders = new Headers();
    myHeaders.append('Content-Type', 'application/json');

    const rolesCatalog = [
      { type: 'rsm', name: '<%= translation.COUPON.RSM %>' },
      { type: 'trainer', name: '<%= translation.AVAILABLE_APPOINTMENT.TRAINER %>' },
      { type: 'admin', name: '<%= translation.ADMIN_SYSTEM_USER_DATA_ADD.ADMIN %>' },
      { type: 'disabled', name: '<%= translation.ADMIN_SYSTEM_USER_DATA_LIST.DISABLED %>' }
    ];

    try {
      fillDiv(rolesCatalog, `userId-${userId}`);
    } catch (err) {
      console.error(err);
    }
  }

  function fillDiv(res, htmlDivId) {
    const container = document.getElementById(htmlDivId);
    const select = document.createElement('select');
    res.forEach(role => {
      const option = document.createElement('option');
      option.value = role.type;
      option.innerText = role.name;

      select.appendChild(option);
    });

    if (res) {
      if (res.length > 0) {
        container.appendChild(select);

        const cancelBtn = document.createElement('button');
        cancelBtn.innerText = "<%= translation.ADMIN_SYSTEM_USER_DATA_LIST.CANCEL %>";
        cancelBtn.onclick = (e) => {
          const userId = htmlDivId.replace('userId-', '');
          const roleEdit = document.getElementById(`roleEdit-${userId}`);
          roleEdit.classList.remove('d-none');
          container.innerHTML = '';
        };
        cancelBtn.classList.add('btn', 'btn-danger');
        container.appendChild(cancelBtn);

        const button = document.createElement('button');
        button.innerText = "<%= translation.ADMIN_SYSTEM_USER_DATA_LIST.SAVE %>";
        button.onclick = (e) => {
          const role = select.options[select.selectedIndex].value;
          const userId = container.id.replace('userId-', '');
          container.innerHTML = '';
          updateUserRole(userId, role);
        };
        button.classList.add('btn', 'btn-success');
        container.appendChild(button);
      }
    }
  }
</script>

</html>