<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <link href="https://vjs.zencdn.net/7.19.2/video-js.css"
    rel="stylesheet" />
  <!-- Data table -->
  <link rel="stylesheet" type="text/css"
    href="/public/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8"
    src="/public/js/jquery.dataTables.js">
    </script>
  <!--/ Data table -->
  <script type="text/javascript" charset="utf8"
    src="/public/js/custom.date.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/home.css">
</head>

<body>
  <%- include("../partials/topnav.ejs", { "location": "faq" }) %>
  <%- include("./attendant/header.attendant.ejs") %>
  <div class="container">
    <h1><%= translation.PAGES_FAQ.LABEL_1 %></h1>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="heading1">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left"
              type="button" data-toggle="collapse"
              data-target="#collapse1" aria-expanded="true"
              aria-controls="collapse1">
              <%= translation.PAGES_FAQ.LABEL_2 %>
            </button>
          </h2>
        </div>

        <div id="collapse1" class="collapse"
          aria-labelledby="heading1" data-parent="#accordionExample">
          <div class="card-body">
            <%= translation.PAGES_FAQ.LABEL_3 %>
            <br>
            <br>
            <ul>
              <li><%= translation.PAGES_FAQ.LABEL_4 %></li>
              <li><%= translation.PAGES_FAQ.LABEL_5 %></li>
            </ul>

            <%= translation.PAGES_FAQ.LABEL_6 %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading2">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed"
              type="button" data-toggle="collapse"
              data-target="#collapse2" aria-expanded="false"
              aria-controls="collapse2">
              <%= translation.PAGES_FAQ.LABEL_7 %>
            </button>
          </h2>
        </div>
        <div id="collapse2" class="collapse"
          aria-labelledby="heading2" data-parent="#accordionExample">
          <div class="card-body">
            <%= translation.PAGES_FAQ.LABEL_8 %>
            <br>
            <br>
            <ul>
              <li><%= translation.PAGES_FAQ.LABEL_9 %></li>
              <li><%= translation.PAGES_FAQ.LABEL_10 %></li>
            </ul>

            <%= translation.PAGES_FAQ.LABEL_11 %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading3">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed"
              type="button" data-toggle="collapse"
              data-target="#collapse3" aria-expanded="false"
              aria-controls="collapse3">
              <%= translation.PAGES_FAQ.LABEL_12 %>
            </button>
          </h2>
        </div>
        <div id="collapse3" class="collapse"
          aria-labelledby="heading3" data-parent="#accordionExample">
          <div class="card-body">
            <%= translation.PAGES_FAQ.LABEL_13 %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading4">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed"
              type="button" data-toggle="collapse"
              data-target="#collapse4" aria-expanded="false"
              aria-controls="collapse4">
              <%= translation.PAGES_FAQ.LABEL_16 %>
            </button>
          </h2>
        </div>
        <div id="collapse4" class="collapse"
          aria-labelledby="heading4" data-parent="#accordionExample">
          <div class="card-body">
            <%= translation.PAGES_FAQ.LABEL_17 %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading5">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed"
              type="button" data-toggle="collapse"
              data-target="#collapse5" aria-expanded="false"
              aria-controls="collapse5">
              <%= translation.PAGES_FAQ.LABEL_18 %>
            </button>
          </h2>
        </div>
        <div id="collapse5" class="collapse"
          aria-labelledby="heading5" data-parent="#accordionExample">
          <div class="card-body">
            <ol>
              <li>
                <%= translation.PAGES_FAQ.LABEL_19 %>
              </li>
              <li><%= translation.PAGES_FAQ.LABEL_20 %></li>
              <li><%= translation.PAGES_FAQ.LABEL_22 %></li>
              <li><%= translation.PAGES_FAQ.LABEL_23 %></li>
              <li><%= translation.PAGES_FAQ.LABEL_24 %></li>
              <li><%= translation.PAGES_FAQ.LABEL_25 %></li>
              <li><%= translation.PAGES_FAQ.LABEL_26 %></li>
              <li><%= translation.PAGES_FAQ.LABEL_27 %></li>
              <li><%= translation.PAGES_FAQ.LABEL_29 %></li>
              <li><%= translation.PAGES_FAQ.LABEL_30 %></li>
              <li><%= translation.PAGES_FAQ.LABEL_31 %></li>
            </ol>
            <%= translation.PAGES_FAQ.LABEL_32 %> <a
              href="mailto:soportemexico@issivs.com"><%= translation.PAGES_FAQ.LABEL_33 %></a>
            o
            <% if (locals.role) { %>
            <% if (role==='attendant' ) { %>
            <a href="/my-profile"><%= translation.PAGES_FAQ.LABEL_34 %></a>
            <% } %>
            <% if (role !=='attendant' ) { %>
            <span><%= translation.PAGES_FAQ.LABEL_34 %></span>
            <% } %>
            <% } %>
            <%= translation.PAGES_FAQ.LABEL_35 %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading6">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed"
              type="button" data-toggle="collapse"
              data-target="#collapse6" aria-expanded="false"
              aria-controls="collapse6">
              <%= translation.PAGES_FAQ.LABEL_36 %>
            </button>
          </h2>
        </div>
        <div id="collapse6" class="collapse"
          aria-labelledby="heading6" data-parent="#accordionExample">
          <div class="card-body">
            <%= translation.PAGES_FAQ.LABEL_37 %>
            <ol>
              <li><%= translation.PAGES_FAQ.LABEL_38 %></li>
              <li>
                <%= translation.PAGES_FAQ.LABEL_39 %>
              </li>
              <li>
                <%= translation.PAGES_FAQ.LABEL_40 %> <a
                  href="mailto:soportemexico@issivs.com"><%= translation.PAGES_FAQ.LABEL_33 %></a>
                o
                <% if (locals.role) { %>
                <% if (role==='attendant' ) { %>
                <a href="/my-profile"><%= translation.PAGES_FAQ.LABEL_34 %></a>
                <% } %>
                <% if (role !=='attendant' ) { %>
                <span><%= translation.PAGES_FAQ.LABEL_34 %></span>
                <% } %>
                <% } %>
                <%= translation.PAGES_FAQ.LABEL_35 %>
              </li>
            </ol>

            <%= translation.PAGES_FAQ.LABEL_41 %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading7">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed"
              type="button" data-toggle="collapse"
              data-target="#collapse7" aria-expanded="false"
              aria-controls="collapse7">
              <%= translation.PAGES_FAQ.LABEL_42 %>
            </button>
          </h2>
        </div>
        <div id="collapse7" class="collapse"
          aria-labelledby="heading7" data-parent="#accordionExample">
          <div class="card-body">
            <%= translation.PAGES_FAQ.LABEL_43 %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading8">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed"
              type="button" data-toggle="collapse"
              data-target="#collapse8" aria-expanded="false"
              aria-controls="collapse8">
              <%= translation.PAGES_FAQ.LABEL_44 %>
            </button>
          </h2>
        </div>
        <div id="collapse8" class="collapse"
          aria-labelledby="heading8" data-parent="#accordionExample">
          <div class="card-body">
            <%= translation.PAGES_FAQ.LABEL_45 %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading9">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed"
              type="button" data-toggle="collapse"
              data-target="#collapse9" aria-expanded="false"
              aria-controls="collapse9">
              <%= translation.PAGES_FAQ.LABEL_46 %>
            </button>
          </h2>
        </div>
        <div id="collapse9" class="collapse"
          aria-labelledby="heading9" data-parent="#accordionExample">
          <div class="card-body">
            <p>
              <%= translation.PAGES_FAQ.LABEL_47 %>
            </p>
            <table
              style="border: 1px solid black;border-collapse: collapse;">
              <tbody>
                <tr>
                  <td style="border: 1px solid black;">
                    <p><b><%= translation.PAGES_FAQ.LABEL_48 %></b></p>
                  </td>
                  <td style="border: 1px solid black;">
                    <p><b><%= translation.PAGES_FAQ.LABEL_49 %></b></p>
                  </td>
                </tr>
                <tr>
                  <td style="border: 1px solid black;">
                    <p><b><%= translation.PAGES_FAQ.LABEL_50 %></b></p>
                  </td>
                  <td style="border: 1px solid black;">
                    <p><%= translation.PAGES_FAQ.LABEL_51 %></p>
                    <p><i><%= translation.PAGES_FAQ.LABEL_52 %></i></p>
                  </td>
                </tr>
                <tr>
                  <td style="border: 1px solid black;">
                    <p><b><%= translation.PAGES_FAQ.LABEL_53 %></b></p>
                  </td>
                  <td style="border: 1px solid black;">
                    <p><%= translation.PAGES_FAQ.LABEL_54 %>&nbsp;<span
                        style="font-size: 1rem;"><%= translation.PAGES_FAQ.LABEL_55 %></span><%= translation.PAGES_FAQ.LABEL_56 %><span style="font-size: 1rem;">&nbsp;<%= translation.PAGES_FAQ.LABEL_57 %></span></p>
                    <p> <i><%= translation.PAGES_FAQ.LABEL_58 %></i></p>
                  </td>
                </tr>
                <tr>
                  <td style="border: 1px solid black;">
                    <p><b><%= translation.PAGES_FAQ.LABEL_59 %></b></p>
                  </td>
                  <td style="border: 1px solid black;">
                    <p><%= translation.PAGES_FAQ.LABEL_60 %></p>
                  </td>
                </tr>
                <tr>
                  <td style="border: 1px solid black;">
                    <p><b><%= translation.PAGES_FAQ.LABEL_61 %></b></p>
                  </td>
                  <td style="border: 1px solid black;">
                    <p><%= translation.PAGES_FAQ.LABEL_62 %></p>
                  </td>
                </tr>
                <tr>
                  <td style="border: 1px solid black;">
                    <p><b><%= translation.PAGES_FAQ.LABEL_63 %></b>
                    </p>
                  </td>
                  <td style="border: 1px solid black;">
                    <p><%= translation.PAGES_FAQ.LABEL_64 %></p>
                    <p> <i><%= translation.PAGES_FAQ.LABEL_65 %></i></p>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <p>
              <u>
                <font color="#000000"
                  style="background-color: rgb(255, 255, 0);">
                  <%= translation.PAGES_FAQ.LABEL_66 %>
                </font>
              </u>
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading10">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed"
              type="button" data-toggle="collapse"
              data-target="#collapse10" aria-expanded="false"
              aria-controls="collapse10">
              <%= translation.PAGES_FAQ.LABEL_67 %>
            </button>
          </h2>
        </div>
        <div id="collapse10" class="collapse"
          aria-labelledby="heading10" data-parent="#accordionExample">
          <div class="card-body">
            <%= translation.PAGES_FAQ.LABEL_68 %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading11">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed"
              type="button" data-toggle="collapse"
              data-target="#collapse11" aria-expanded="false"
              aria-controls="collapse11">
              <%= translation.PAGES_FAQ.LABEL_71 %>
            </button>
          </h2>
        </div>
        <div id="collapse11" class="collapse"
          aria-labelledby="heading11" data-parent="#accordionExample">
          <div class="card-body">
            <%= translation.PAGES_FAQ.LABEL_72 %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <center>
      <h2><%= translation.PAGES_FAQ.LABEL_75 %></h2>
      <p><%= translation.PAGES_FAQ.LABEL_76 %> <a
          href="mailto:soportemexico@issivs.com"><%= translation.PAGES_FAQ.LABEL_33 %></a>.
      </p>
    </center>
    <br>
    <br>
    <br>
  </div>
</body>

</html>