<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body onload="getBasicInfo()">
  <div class="container">
    <section class="vh-100">
      <div class="container py-0 h-100">
        <div class="h-10">
          <%- include("../partials/header.ejs") %>
        </div>
        <div
          class="row d-flex align-items-center justify-content-center h-80">
          <div class="col-md-7 col-lg-5 col-xl-5">
            <h1><%= translation.PAGES_SIGNUP.RECORD %></h1>
            <form>
              <div class="form-row">
                <label>
                  <em style="color: firebrick;">
                    <%= translation.PAGES_SIGNUP.LABEL_1 %>
                  </em>
                </label>
                <div class="form-group col-md-6">
                  <label for="firstName">
                    <%= translation.PAGES_SIGNUP.NAME %>:
                  </label>
                  <input type="text"
                    class="form-control form-control-lg"
                    name="firstName" id="firstName"
                    placeholder="<%= translation.PAGES_SIGNUP.NAME %>"
                    required>
                </div>
                <div class="form-group col-md-6">
                  <label for="lastName">
                    <%= translation.PAGES_SIGNUP.LAST_NAME %>:
                  </label>
                  <input type="text"
                    class="form-control form-control-lg"
                    name="lastName" id="lastName"
                    placeholder="<%= translation.PAGES_SIGNUP.LAST_NAME %>"
                    required>
                </div>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="businessName">
                  <%= translation.PAGES_SIGNUP.COMPANY %>:
                  <em style="color: firebrick;">
                    <%= translation.PAGES_SIGNUP.LABEL_2 %>
                  </em>
                </label>
                <input type="text"
                  class="form-control form-control-lg"
                  name="businessName" id="businessName"
                  placeholder="<%= translation.PAGES_SIGNUP.COMPANY %>"
                  required />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="email">
                  <%= translation.PAGES_SIGNUP.EMAIL %>:
                </label>
                <input type="email" name="email" id="email"
                  class="form-control form-control-lg"
                  placeholder="<%= translation.PAGES_SIGNUP.EMAIL %>"
                  required />
              </div>
              <div class="form-outline mb-4">
                <label for="countryId">
                  <%= translation.PROFILE.COUNTRY_TITLE %>:
                </label>
                <select id="countryId" name="countryId"
                  class="form-control">
                  <option value="" selected>
                    <%= translation.PAGES_SIGNUP.OPTION %>
                  </option>
                </select>
              </div>
              <div id="captchaContainer"
                class="form-outline mb-4 text-center">
                <div class="col-md-6 offset-xl-3"
                  style="background-color: #10a5e0;border-radius: 5px; border: 2px solid #333;">
                  <div id="captcha"></div>
                  <input class="form-control" id="captchaUser"
                    placeholder="<%= translation.PAGES_SIGNUP.ENTER_CAPTCHA %>"
                    type="search" required>
                  <div class="row">
                    <input type="button" id="checkCaptcha"
                      class="btn btn-success col-md-6"
                      value="<%= translation.PAGES_SIGNUP.VALIDATE %>">
                    <input type="button" id="updateCaptcha"
                      class="btn btn-primary col-md-6"
                      value="<%= translation.PAGES_SIGNUP.CHANGE %>">
                  </div>
                </div>
              </div>
              <div id="error"
                class="alert alert-danger alert-dismissible d-none">
                <!-- <a href="#" class="close" 
                  data-dismiss="alert" aria-label="close">&times;</a> -->
                <div id="error-message"></div>
              </div>
            </form>
            <script>
              const updateCaptcha = document.getElementById('updateCaptcha');
              updateCaptcha.onclick = getBasicInfo;

              function getBasicInfo() {
                const myHeaders = new Headers();
                myHeaders.append('Content-Type', 'application/json');

                fetch('/captcha', {
                  headers: myHeaders,
                  credentials: "same-origin"
                })
                  .then(res => res.json())
                  .then(res => parseCaptcha(res))
                  .catch(err => {
                    console.error(err);
                  });

                fetch('/api/v1/countries', {
                  headers: myHeaders,
                  credentials: "same-origin"
                })
                  .then(res => res.json())
                  .then(res => parseSelect('countryId', res, 'id', 'name', null))
                  .catch(err => {
                    console.error(err);
                  });
              }

              function parseSelect(selectId, array, value = 'id', text = 'name', onchange = null) {
                const select = document.getElementById(selectId);
                array.forEach(item => {
                  const option = document.createElement('option');
                  option.value = item[value];
                  option.innerText = item[text];

                  select.appendChild(option);
                });

                if (array) {
                  if (array.length > 0) {
                    if (onchange) {
                      select.onchange = (e) => {
                        onchange(select);
                      };
                    }
                  }
                }
              }

              function parseCaptcha(data) {
                // console.log(data);
                const captchaContainer = document.getElementById('captchaContainer');
                const captcha = document.getElementById('captcha');
                const captchaUser = document.getElementById('captchaUser');
                const checkCaptcha = document.getElementById('checkCaptcha');
                const form = document.querySelector('form');

                captcha.innerHTML = data.data;
                checkCaptcha.onclick = (e) => {
                  if (captchaUser.value === data.text) {
                    captchaContainer.classList.add('d-none');
                    const button = document.createElement('button');
                    button.classList.value = "btn btn-primary btn-lg btn-block";
                    button.onclick = signUp;
                    button.innerText = "<%= translation.PAGES_SIGNUP.RECORD %>";

                    form.appendChild(button);
                  }
                };
              }

              function validateFormFields() {
                const firstName = document.getElementById("firstName").value;
                const lastName = document.getElementById("lastName").value;
                const businessName = document.getElementById("businessName").value;
                const email = document.getElementById("email").value;
                const select = document.getElementById("countryId");
                const countryId = select.options[select.selectedIndex].value;
                const errors = [];

                if (!firstName) {
                  errors.push("<%= translation.PAGES_SIGNUP.ALERT_1 %>");
                }
                if (!lastName) {
                  errors.push("<%= translation.PAGES_SIGNUP.ALERT_2 %>");
                }
                if (!businessName) {
                  errors.push("<%= translation.PAGES_SIGNUP.ALERT_3 %>");
                }
                if (!countryId) {
                  errors.push("<%= translation.PAGES_SIGNUP.ALERT_4 %>");
                }
                if (!email) {
                  errors.push("<%= translation.PAGES_SIGNUP.ALERT_5 %>");
                }

                displayErrors(errors);
                return errors.length == 0; // There are no errors
              }

              function signUp(e) {
                // console.log(e);
                if (e) {
                  e.preventDefault();
                }

                if (!validateFormFields()) {
                  return;
                }

                const firstName = document.getElementById("firstName").value;
                const lastName = document.getElementById("lastName").value;
                const businessName = document.getElementById("businessName").value;
                const email = document.getElementById("email").value;
                // const password = document.getElementById("password").value;
                const select = document.getElementById("countryId");
                const countryId = select.options[select.selectedIndex].value;

                fetch("/api/v1/attendants/", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json;charset=utf-8"
                  },
                  body: JSON.stringify({
                    firstName,
                    lastName,
                    businessName,
                    user: {
                      email,
                      // password,
                      countryId
                    }
                  })
                })
                  .then((res) => res.json())
                  .then((res) => {
                    // console.log(res);
                    if (res.statusCode && res.statusCode !== 201) {
                      displayErrors([res.message]);
                    } else {
                      fetch("/api/v1/auth/verify-email", {
                        method: "POST",
                        headers: {
                          "Content-Type": "application/json;charset=utf-8"
                        },
                        body: JSON.stringify({
                          email
                        })
                      })
                        // })
                        .then((res) => res.json())
                        .then((res) => {
                          if (res.statusCode) {
                            displayErrors([res.message]);
                          } else {
                            alert('<%= translation.PAGES_SIGNUP.ALERT_6 %>');
                            window.location.href = "/";
                          }
                        })
                        .catch((err) => {
                          console.error(err);
                        });
                    }
                  })
                  .catch((err) => {
                    console.error(err);
                  });
              }

              function displayErrors(errors) {
                const error = document.getElementById('error');
                const errorMessage = document.getElementById('error-message');

                if (errors.length === 0) {
                  error.classList.add('d-none');
                  errorMessage.innerText = '';
                  return;
                }

                error.classList.remove('d-none');
                errorMessage.innerText = errors.join('\n');
              }
            </script>
          </div>
        </div>
        <div class="h-10">
          <%- include("../partials/footer.ejs") %>
        </div>
      </div>
    </section>
  </div>
</body>

</html>